###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.lua text eol=lf
*.sjson text eol=lf
